{
  # Put Coraza in front of every request
  order coraza_waf first
  
  # Enable metrics for Prometheus
  metrics

  # Console logging for Docker logs
  log {
    level INFO
    format console
  }

  # Access logs for CrowdSec and Promtail
  log {
    output file /var/log/caddy/access.log
    format json
  }

  # Allow CrowdSec globally
  crowdsec {
    api_url http://crowdsec:8080
    api_key {$CROWDSEC_API_KEY}
  }

}

# Import all site configurations from sites-enabled directory
import /etc/caddy/sites-enabled/*.Caddyfile
